
  body{
    background-color: #FFF;
    /*overflow: hidden;*/
  }

  .header-container{
    background: #404040;
    width: 100%;
    position: fixed;

    top: 0px;
    left: 0px;
    right: 0px;

    justify-content: center;
    align-items: center;
    display: block;
  }

  .header{
    font-family: 'Codystar', cursive;
    text-align: center;
    font-size: 60px;
    color: #fff;

    height: 150px;
    width: 960px;
    margin: 0px auto;

    display: block;
    justify-content: center;
    align-items: center;
  }

  .scoreboard-container{
    top: -45px;
    position: relative;
    /*background-color: #F2EFDC;*/
    max-width: 700px;
    margin: auto;
    border-radius: 3px;
    opacity: 0.8;


  }

  .scoreboard{
    font-family: 'Montserrat', sans-serif;
    /*color: #404040;*/
    color: #fff;
    font-size: 24px;
    opacity: 1;
    line-height: 50px;

  }

  .scoreboard p{

    display: inline;
    padding: 5px;
  }

  .scoreboard #playerBox{
    background-color: #F24C27;
  }

  .scoreboard #computerBox{
    background-color: #037E8C;
  }

  .scoreboard #tieBox{
    background-color: #F2EFDC;
    color: #404040;
  }

  .scoreboard span{
    padding: 10px;
    border-radius: 4px;
  }




  .option-container{

    margin-top: 120px;
    margin-bottom: 0px;
    /*position: relative;*/
    /*overflow: hidden;*/
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
    padding-bottom: 0px;
  }

  .option{
    display: block;
    margin-top: 130px;

    margin-left: 10px;
    margin-right: 10px;

    border: 1px dotted;
    border-color: #fff;
    background-color: #fff;
    height: 200px;
    width: 200px;
    border-radius: 100%;

    left: 20px;
    right: 20px;

    text-align: center;
  }

  .option img{
    margin-top: 25px;
  }


  #rock{
    float: left;
    padding: 40px;

  }
  #paper{
    padding: 40px;
  }

  #paper img{
    margin-top: 10px;
    height: 170px;
  }

  #scissors{
    padding: 40px;
    float: right;

  }

  #refresh-button img{
    display: inline;
    padding-top: 0px;
    padding-left: 10px;
    position: absolute;

  }

  .winner{

    margin-top: 60px;

    font-family: 'Montserrat', sans-serif;
    color: #404040;
    font-size: 30px;

    text-align: center;
    display: block;

    background: #fff;
    border: 1px solid #404040;
    border-radius: 10px;


    margin-left: 20%;
    margin-right: 20%;

    padding: 0px;

    -webkit-box-shadow: 1px 2px 7px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 7px -1px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 7px -1px rgba(0,0,0,0.75);

  }
